/*
 * Multi-line comment
 */

/* Another comment */
body {  
  background-image: /* in-line comment */ url("some text");
}

/* properties + values */
.class { text-align: right; }

/* selector */
.class:hover { text-decoration: none; }

/* functions */
.class { color: rgb(0,0,0); }

/* units */    
.class { font-size: 10px; }

/* colors */
.class { color: lemonchiffon; }

/* extensions */
.class { -ms-scrollbar-face-color: red }

/* at_rules */
.class { @font-face: "Arial" }

/* html */
div ul { font-size: 2em; }


/* next line was added */

/* next line was changed */
p  { color: yellow; }

/* next line was removed */
p  { color: yellow; }

/* eof */
