/* next line was added */
p  { color: yellow; }

/* next line was changed */
p  { color: orange; }

/* next line was removed */

/*
 * Multi-line comment
 */

/* Another comment */
body { background-image: /* in-line comment */ url("some text"); }

/* diff **/

/* properties + values */ .myclass { text-align: right; }
/* selector */            .myclass:hover { text-decoration: none; }
/* functions */           .myclass { color: rgb(0,0,0); }
/* units */               .myclass { font-size: 10px; }
/* colors */              .myclass { color: lemonchiffon; }
/* extensions */          .myclass { -ms-scrollbar-face-color: none }
/* at_rules */            .myclass { @font-face: "Arial" }
/* html */                div ul { font-size: 2em; }

/* eof **/
